.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 70px;
  border: 1px solid #afafaf;
  border-radius: 10px;
}

h1 {
  color: #053a06;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

li {
  list-style: none;
  color: #387714;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
}

.temperature strong {
  font-size: 54px;
  font-weight: 400;
  line-height: 1;
  margin-top: 10px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -25px;
}
